.header {

    &__title {
        height: 80px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    &__menu {
        text-align: center;
        background-color:rgb(42, 40, 40);
        height: 50px;
    }

    &__menu > a {
        margin-left: 40px;

        &:hover {
            color:firebrick;
        }
    }
}