.jumbotron {
    background-image: url("~./web-developer.jpg");
    height: 615px;  
    background-size: cover;
    background-position: center ;
}

.jumbotron {

    &__title {
        text-align: center;
        padding-top: 200px;
        font-weight: bolder;
        color:brown;
    }
}