body {
    background-color: rgb(255, 255, 255);
}
header {
   background-image: url(../../../Desktop/offer_4000169_picture_1089188.png);
    background-color: rgb(167, 151, 151);
    border: 3px rgb(228, 217, 73) dashed;
    height: 300px;
    display:flex;
    justify-content: space-around;
}
h1 {
    text-align: center;
    margin: 80px 50px;
}

.ovale{
    width: 250px;
    height: 170px;
    border-radius: 60px / 40px;
    border:black;
    border:10px;
    background-color: rgb(200, 181, 161);  
    text-align: center;
    margin-top: 70px;
}

h2 {
    margin-top: 0;
}

li {
    margin-top: 5px;
    font-size: large;
}

.obj {
    width: 100%;
    margin: auto;
    text-align: center;
}

p {
    font-size: 150%;
    margin-top: 2px;
}

.exp_form {
    width:50%;
}

.exp_un, .exp_deux {
    width:80%;
}